<!--The content below is only a placeholder and can be replaced.-->

<div cssDisplay> Click on these elements </div>

<div>
 	<a routerLink="/my-app/person" routerLinkActive="active-link"> Person-data </a> | 
 	<a routerLink="/my-app/rxjs" routerLinkActive="active-link"> RXJS </a> |
 	<a routerLink="/my-app/class-style" routerLinkActive="active-link"> Class-style </a> |
 	<a routerLink="/my-app/directives" routerLinkActive="active-link"> Directives </a> |
 	<a routerLink="/my-app/pipes" routerLinkActive="active-link"> Pipes </a> |
 	<a routerLink="/my-app/reactive-forms" routerLinkActive="active-link"> Reactive Form </a> |
 	<a routerLink="/my-app/reactive-forms2" routerLinkActive="active-link"> Reactive Form 2 </a> |
 	<a routerLink="/my-app/template-driven-forms" routerLinkActive="active-link"> Template Driven form </a> |
 	<a routerLink="/my-app/angular-material" routerLinkActive="active-link">  Angular Material </a> |
 	<a routerLink="/my-app/life-cycle-hook" routerLinkActive="active-link">  Life Cycle Hook </a> |
</div>
<hr>

<router-outlet></router-outlet> 
