/* You can add global styles to this file, and also import other style files */


/*
.myParentClass .myClass {
	font-style: italic;
	font-weight: bold;
}
*/


mobile-number .myClass {
	font-style: oblique;
	font-weight: normal;
}

.active-link {
	background-color: #ecb25b;
}

